In [1]:
2 + 2

4

In [2]:
2**(10)

1024

In [3]:
if 2 > 10 :
    print('Math is correct')
    print('Call the Math department')
else : 
    print('Math is correct')

Math is correct

In [4]:
age = 30

In [5]:
age

30

In [6]:
age = age + 1
# This is no math, this is an assignment for the variable

In [7]:
age

31

In [8]:
age = 20
gender = 'female'
salary = 35000

In [9]:
# Task: our adivertisement shoud be shown to visitors that
# are older than 20, that are 'male' and that have a salary higher than 25.000

In [10]:
if age > 20 and gender =='male' and salary > 25000:
    print('advertisement')
elif gender == 'female' :
    print("advertisement")
else :
    print("don't do anything")

advertisement

In [11]:
student01 = "Hans"
student02 = "Peter"

In [12]:
students = ["Hans", "Peter", "Rob", "Alice"]

In [13]:
students

['Hans', 'Peter', 'Rob', 'Alice']

In [14]:
type(students)

list

In [15]:
students[0]

'Hans'

In [16]:
students.append('Neo')

In [17]:
students

['Hans', 'Peter', 'Rob', 'Alice', 'Neo']

In [18]:
students[2] = "Don"

In [19]:
students

['Hans', 'Peter', 'Don', 'Alice', 'Neo']

In [20]:
students.remove('Alice')

In [21]:
students

['Hans', 'Peter', 'Don', 'Neo']

In [22]:
for student in students:
    print(student)

Hans
Peter
Don
Neo

In [23]:
for student in students:
    print(students)

['Hans', 'Peter', 'Don', 'Neo']
['Hans', 'Peter', 'Don', 'Neo']
['Hans', 'Peter', 'Don', 'Neo']
['Hans', 'Peter', 'Don', 'Neo']

In [24]:
def double(x) :
    return x * 2

In [25]:
double(30)

60

In [26]:
def multiply(x, y):
    return x * y

In [27]:
multiply(3, 30)

90

In [28]:
l = [1, 4, 6, 10]

In [29]:
for x in l:
    print(double(x))

2
8
12
20

In [30]:
list2 =list(range(1, 20))

In [32]:
a = list(range(1, 20))

In [38]:
for x in a:
    if x % 2 == 0 and x % 5 == 0:
        print('BIPM')
    elif x % 2 == 0:
        print('BI')
    elif x % 5 == 0:
        print('PM')
    else:
        print(x)

1
BI
3
BI
PM
BI
7
BI
9
BIPM
11
BI
13
BI
PM
BI
17
BI
19